/*
   Author: Ning Liu
   Date:   3/12/2014
*/

@import './c_layout';

$mainFont: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
$titleFont: "Courier New", Courier, monospace;

$backgroundColor: #000;
$defaultColor: #FFF;
$titleColor: yellow;

html, body {
    background-color: $backgroundColor;
    color: $defaultColor;
    font-family: $mainFont;
}

header {
    h1 {
        color: $titleColor;
        font-family: $titleFont;
        font-size: 28px;
        letter-spacing: 20px;
        text-align: center;
    }
}

article {
    h2 {
        font-size: 24px;
        font-weight: normal;
        letter-spacing: 5px;
    }

    text-align: justify;
}

.keyword {
    color: $titleColor;
    font-weight: normal;
}

footer {
    p {
        text-align: center;
    }
}
